{% extends "main_site/header.html" %}
{% load staticfiles %}

{% block content %}

<div class="row">
  <div class="col-sm-12">
    <h1>Hello World</h1>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <canvas id="lowDeltaChart" width="400" height="400"></canvas>
            </div>
            <div class="col-md-6">
                <canvas id="highDeltaChart" width="400" height="400"></canvas>
            </div>
        </div>
    </div>
    
  </div>
</div>


{% include 'main_site/components/js.html' %}

{% include 'main_site/components/graphs/low_delta.html' %} 
{% include 'main_site/components/graphs/high_delta.html' %} 

{% endblock content%}	