{% block content %}

<!-- Sectors & Services Cards -->
<div class="container">
    <div class="center-div">
        <h3 class="red_txt underline_wide text-center">Services</h3>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="card mb-4 no_border card-hover">
                <div class="card-body text-center">
                    <h5 class="card-title red_txt bold_txt">Death Star Diagnosis</h5>
                    <p class="card-text text-left bold_txt grey_txt text-center">Are you fed up with your ion drives breaking down? We use the latest advances in AI & Machine Learning to to predict failures before they happen.</p>
                    <i class="fa fa-chart-bar red_txt" style="font-size:50px;" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 no_border card-hover">
                <div class="card-body text-center">
                    <h5 class="card-title red_txt bold_txt">Droid Maintenance</h5>
                    <p class="card-text text-left bold_txt grey_txt text-center">Are you making wookie mistakes fixing your droids yourself? Give them the care they deserve, we have the best astromechs in the galaxy!</p>
                    <i class="fa fa-cogs red_txt" style="font-size:50px;" aria-hidden="true"></i>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 no_border card-hover">
                <div class="card-body text-center">
                    <h5 class="card-title red_txt bold_txt">Secure Communications</h5>
                    <p class="card-text text-left bold_txt grey_txt text-center">We're leading the way in the use of blockchain for secure messaging, make sure your plans for galaxy domination don't fall into the wrong hands</p>
                    <i class="fas fa-lock red_txt" style="font-size:50px;" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}	