{% block content %}

<div class="container">

	<div class="center-div">
		<h3 class="red_txt underline_wide text-center">Smart Meters</h3>
		<br>
	</div>

	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			<p><a href="http://innovation.ukpowernetworks.co.uk/innovation/en/Projects/tier-2-projects/Low-Carbon-London-(LCL)/">Low Carbon London</a> gathered electricity use data for a sample of 5,567 London households between November 2011 and February 2014. Readings were taken every half hour. The Acorn group of each household is included in the data. The raw data is available to download from the London <a href="http://data.london.gov.uk/dataset/smartmeter-energy-use-data-in-london-households">Datastore</a>.</p>
		
			<p>Within the data set are two groups of customers. A sub-set of 1,100 customers (Dynamic Time of Use or dToU) were given specific times when their electricity tariff would be higher or lower price than normal – High (67.20p/kWh), Low (3.99p/kWh) or normal (11.76p/kWh). The rest of the sample (around 4,500) were on a flat rate of 14.228p/kWh.</p>
			
			<br>

			<p>For the work in our case study, new features were generated for each of the households. The data can be accessed through our <a href="/api/data/0/">API</a>, by changing the number in the URL different households can be viewed.</p>
		
		</div>
	</div>

</div>

{% endblock %}	